{% load static %}
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>SkillDonate</title>
    <link rel="stylesheet" href="{% static 'styles/style.css' %}">
  </head>
  <body>
    <header class="main-header">
        <a href= "{% url 'home' %}" >
          <img class="logo" src="{% static 'images/logo.png' %}" alt="logo">
          <div class="logo-text">SkillDonate</div>
        </a>
      </div>
      <nav class="site-nav">
        <ul>
          <li><a href="{% url 'home' %}">Home</a></li>
          <li><a href="{% url 'volunteers-list' %}">volunteers</a></li>
          <li><a href="{% url 'skills-list' %}">skills</a></li>
          <li><a href="{% url 'charities-list' %}">charities</a></li>

          <!-- TODO -->
          <!-- IMPLEMENT LOGIN AND LOGOUT FEATURE -->
          <li><a href="#">login/signup</a></li>
        </ul>
      </nav>
    </header>

    {% block content %}

    {% endblock content %}

  </body>
</html>
