{% extends 'base.html' %}
{% load static %}

{% block content %}
<div class="d-flex justify-content-center">
  <div class="card" style="width: 500px">
    <img class="card-img-top" src="{% static 'images/child-looking.jpg' %}" alt="Card image">
    <div class="card-body">
      <h4 class="card-title">{{ user.charity.name }}</h4>
      <p class="card-text"><i>{{ user.charity.description }}</i></p>
      <p class="card-text"><b>Contact: </b>{{ user.charity.phone }}</p>
      <p class="card-text"><b>City: </b>{{ user.charity.city }}</p>
      <p class="card-text"><b>Country: </b>{{ user.charity.country }}</p>

      {% if request.user.is_authenticated and request.user == user %}
        <a href="{% url 'charity-profile-update' user.id %}" class="btn btn-primary">
          Update profile&raquo;
        </a>
      {% endif %}
    </div>
  </div>
</div>

{% endblock content %}
