{% extends 'base.html' %}


{% block content %}
  <div class="container-md">
    <h2 class="text-center text-capitalize mt-1">
      {{ request.user.volunteer.name }} {{ request.user.volunteer.last_name }} Homepage
    </h2>
    <hr/>
    <h3 class="mb-lg-3 mb-md-2 mb-sm-1">Skills you offered</h3>

    {% if skills_offered|length == 0 %}
      <p class="text-info-emphasis">You have not posted any skills for donation</p>
    {% else %}

      <div class="row row-cols-1 row-cols-md-3 g-4">
        {% for skill in skills_offered %}
          <div class="col">
              <div class="card h-100 bg-secondary text-white" >
                <div class="card-body">
                  <h5 class="card-title"> {{ skill.skill_name }} </h5>
                  <p class="card-text"> {{ skill.description }} </p>
                </div>
                <div class="card-footer">

                  <small class="">{{ skill.created_at }}</small>
                </div>
                <a href="{% url 'skill-donated-detail' skill.id %}" class="stretched-link"></a>
              </div>
          </div>
        {% endfor %}
      </div>
    {% endif %}
  </div>

  <hr/>

  <div class="container-md mt-1">
    <h3 class="mb-lg-3 mb-md-2 mb-sm-1">Skills Required By Non-Profits</h3>

    {% if skills_required|length == 0 %}
      <p class="text-info-emphasis">No skills required, have been posted by Charity Organisations</p>
    {% else %}
      <div class="row row-cols-1 row-cols-md-3 g-4">
        {% for skill in skills_required %}
          <div class="col">
              <div class="card h-100">
                <h4 class="card-header">{{ skill.charity.name }}</h4>
                <div class="card-body">
                    <h5 class="card-title"> {{ skill.name }} </h5>
                    <p class="card-text"> {{ skill.description }} </p>
                </div>
                <div class="card-footer">
                    <small class="text-body-secondary">{{ skill.created_at }}</small>
                </div>
                <a class="stretched-link" href="{% url 'skill-required-detail' skill.id %}"></a>
              </div>
          </div>
        {% endfor %}
      </div>
    {% endif %}
</div>


{% endblock content %}
