{% extends 'base.html' %}


{% block content %}
  <h1>{{ request.user.volunteer.name }} Homepage</h1>

  <div class="container">
    <h3>Skills you offered</h3>
    <div class="row row-cols-1 row-cols-md-3 g-4">
        {% for skill in skills_offered %}
            <div class="col">
                <a href="{% url 'skill-offered-detail' skill.id %}">
                    <div class="card h-100">
                        <div class="card-body">
                            <h5 class="card-title"> {{ skill.name }} </h5>
                            <p class="card-text"> {{ skill.description }} </p>
                        </div>
                        <div class="card-footer">
                            <small class="text-body-secondary">{{ skill.created_at }}</small>
                        </div>
                    </div>
                </a>
          </div>
        {% endfor %}
    </div>
  </div>

  <div>
    <h3>Skills Required By Non-Profits</h3>

    <div class="row row-cols-1 row-cols-md-3 g-4">
      {% for skill in skills_required %}
        <div class="col">
          <a href="{% url 'skill-required-detail' skill.id %}">
            <div class="card h-100">
              <div class="card-body">
                  <h5 class="card-title"> {{ skill.name }} </h5>
                  <p class="card-text"> {{ skill.description }} </p>
              </div>
              <div class="card-footer">
                  <small class="text-body-secondary">{{ skill.created_at }}</small>
              </div>
            </div>
          </a>
        </div>
      {% endfor %}
    </div>
</div>


{% endblock content %}
