#jumbotron {
    background-image: url("/static/images/handshake-banner-blur.jpg");
    background-position: center;
    background-size:cover;
    background-repeat:no-repeat;
    border-bottom-left-radius: 2rem;
    border-bottom-right-radius: 2rem;
}


#jumbo_header {
    color: #ffffff;
    font-weight: bold;
    font-size: 5rem;
  }

#jumbo_text {
    color: #fffb00;
    font-weight: bold;
}
